.main {
  background-image: url("../../assets/bottom.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.date {
  min-width: 340px;
  border-radius: 12px;
  max-height: 465px;
  background: rgba(255, 255, 255, 0.074);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.44);
}
.fav {
  min-width: 340px;
  border-radius: 12px;
  max-height: 465px;
  background: rgba(255, 255, 255, 0.074);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.44);
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-around
}
ul{
  overflow-y: scroll;
  max-height: 340px;
}
ul::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

ul::-webkit-scrollbar-track {
  background-color: #f1f1f100; /* Color de fondo de la pista del scroll */
}

ul::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del thumb (la parte deslizable del scroll) */
  border-radius: 5px; /* Radio de borde del thumb */
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del thumb al pasar el cursor por encima */
  
}
.delete-button {
  border: solid 1px rgba(230, 79, 79, 0.65);
  border-radius: 8px;
  padding: 2px;
  width: auto;
}